/** Style for crewbie on rails **/

* {
  font-family: Helvetica, Arial, sans-serif;
  size: 14px;
  font-weight:normal;
  padding:0;
  margin:0;
  line-height:28px;
}

div.header {
  width:800px;
  margin:0 auto;
}

div.header h1 {
  margin:30px 0;
  font-size:42px;
}

div.header h1 a {
  color:white;
  font-weight:bold;
  text-decoration:none;
}

body {
  background:#eee url('/img/bg.png');
}

div.container {
  width:770px;
  margin:0 auto;
  background:#eee;
  background-image: -webkit-linear-gradient(bottom, #ddd 0%, #eee 50%);
  border-radius:5px;
  padding:15px;
  box-shadow:0 0 30px #000;
}

div.user {
  clear:both;
  margin:10px 0;
}

div.progressbarouter {
  background:#ccc;
  width:100%;
  height:28px;
  border-radius:5px;
}

div.progressbarinner {
  background:#08c ;
  background-image: -webkit-linear-gradient(top, #00AAFF 0%, #08c 100%);
  height:28px;
  border-radius:5px;
}


div.admin .user form p {
  margin:15px 0;
  text-align:right;
}

div.admin .user form p input {
  font-size:14px;
  padding:3px;
  float:right;
  margin-left:15px;
}

li {
  margin-left:28px;
}

div.user h2 a {
  color:black;
  text-decoration:none;
}

div.user h2 small {
  color:#666;
  font-size:14px;
  float:right;
}
 #footer {
  margin:50px auto;
 }
